@use "../../style.scss" as *;

.market{
  display: flex;
  gap: 20px;
  @include themify($themes) {
    padding: 0px 15px 0px 0px;
    background-color: themed("bgSoft");
    min-height: 100vh;

    @include mobile {
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }
  }

/* content ฝั่งขวา */
.content {
  flex: 1;
}
 }