@use "../../style.scss" as *;

.descDownload{
  @include themify($themes) {
    padding: 50px 15%; 
    background-color: themed("bg");
    min-height: 100vh;
    color: themed("textColor");

    @include mobile {
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }

    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .Header,
    .row {
      display: grid;
      grid-template-columns: 2fr 1fr 1.3fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      gap: 20px;
      padding: 18px 10px;
    }

    .Header {
      font-weight: bold;

      h2 {
        margin: 0;
        font-size: 18px;
      }
    }

    hr {
      border: 0;
      border-bottom: 1px solid #666;
      margin: 0;
    }

    .row {
      border-bottom: 1px solid rgba(128, 128, 128, 0.2);

      h3 {
        margin: 0;
        font-size: 15px;
        font-weight: 500;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 110px;
        height: 42px;

        padding: 0 18px;

        border: none;
        border-radius: 20px;

        cursor: pointer;

        font-size: 14px;
        font-weight: 600;

        background: #5B73E8;
        color: white;

        transition: .2s;

        &:hover {
          background: #4760d7;
        }
      }

      .review-btn {
        background: themed("bgSoft");
        color: themed("textColor");

        &:hover {
          background: #666;
          color: white;
        }
      }
    }
  }
}