@use "../../style.scss" as *;

.home{
  @include themify($themes) {
    padding: 20px 30px;
    background-color: #060A0E;
    min-height: 100vh;

    @include mobile {
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }
  }
 }