@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

:root{
    --BG-color: #94B3CA;
    --Top-color: #171C2E;
    --Button-color: #273959;
    --BT-shine: #485365;
    --main-font-color: white;
}
body{
    background-color: var(--BG-color)
}

.TopPage{
    width: 100%;
    height: 70px;
    background-color: var(--Top-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 10px 20px;
}

.Logo::first-letter{
    font-size: 2em;
    font-style: italic;
}
.Logo{
    font-optical-sizing: auto;
    font-weight: 400;
    font-family: "Jaro", sans-serif;
    text-shadow: #000000 2px 2px 4px;
    color: var(--main-font-color);
    display: inline;
}
#profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: auto;
}

/* box คลุมปุ่ม */
.menubar{
    width: 500px;
    height: 40px;
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.button{
    margin: 0;
    background-color: var(--Button-color); 

    font-size: 16px;
    color: var(--main-font-color);
    padding: 8px 20px;

    border: 3px solid black;
    border-radius: 30px;

    display: inline;
    
    text-align: center;

    cursor: pointer; /*รูปมือเวลาจี้*/
}
.button:hover{
    background-color: var(--BT-shine);
    font-size: 16px;
}

/* =================================== Space ====================================== */
.all-space {
    display: flex;
    height: calc(100vh - 70px); /* เต็มหน้าจอ ลบความสูงแท็บบน */
}
/* ---------------------------------------- left ---------------------------------------- */
.L-space {
    flex: 1; /*25*/
    /* background: lightblue; */
}
.container{
    width: 60px;
    border-radius: 60px;
    border: #000000 5px solid;
    background: var(--Button-color);

    display: flex;
    flex-direction: column;
    gap: 10px;
    
    /* position: sticky;
    top: 0; */

    margin: 10px 0px 0px 10px;
    align-items: center;
}
.box{
    width: 40px;
    height: 40px;
    background-color: rgb(132, 252, 173);
    font-size: 35px;
    overflow: hidden;
    text-align: center;
    border-radius: 100px;
    gap: 30px;
}

/* ---------------------------------------- mid ---------------------------------------- */
.M-space {
    flex: 2; /*50*/
    /* background: lightgray; */
    overflow: auto;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* ป้ายเลื่อน ๆ */
#news{
    width: 100%;
    height: 100px;
    border: var(--BG-color) 3px solid;
    background-color: rgb(243, 243, 243);
    display: flex;
    
    justify-content: center; /*x*/
    align-items: center; /*y*/

    font-size: 50px;
}

/* other step */
.step {
    display: none;
    flex-direction: column;
    gap: 12px;
}
/* start step */
.step.active {
    display: flex;
}

/* -------------------------------- right ------------------------------------------------ */
.R-space {
    flex: 1; /*25*/
    /* background: lightgreen; */
}
/* ======================================================================================= */

/* Responsive */
@media (max-width: 700px){
    .login-container {
        flex-direction: column;
        width: 90%;
    }
}