@use "../../style.scss" as *;

.descProject{
  display: flex;
  gap: 10px;
  @include themify($themes) {
    padding: 0px 15%;
    background-color: themed("bgSoft");
    min-height: 100vh;

    @include mobile {
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }
  }

   .descProjectleft {
      flex: 1;
    }

    .descProjectRight {
      flex: 1;
      padding-top: 20px;
    }
}