@use "../../../style.scss" as *;

@use "../../../style.scss" as *;

.Lbuy {
  @include themify($themes) {
    flex: 3;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bgSoft");

    @include mobile{
      display: none;
    }
    @include tablet{
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 20px;

      .item {
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        padding: 20px;
        margin-bottom: 20px;
        background-color: themed("bg");

        span {
          color: gray;
        }
      }
      .new-releases {
        .payment {
  display: flex;
  flex-direction: column;
  align-items: center;   // 🔥 กลางแนวนอน
  justify-content: center; // 🔥 กลางแนวตั้ง
  text-align: center;
  height: 100%;

  .qr {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .expire {
    font-size: 20px;
    margin: 10px 0;
  }

  .desc {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
  }

  .confirmBox {
  display: flex;
  align-items: center;

  button {
    border: none;
    flex: 1;
    padding: 20px 100px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    background-color: themed("buttonBg");
    border-radius: 10px;
  }
}
}
  }
    }
  }
}

