@use "../../style.scss" as *;

.descCommu{
  display: flex;
  @include themify($themes) {
    padding: 20px 10%;
    background-color: themed("bgSoft");
    min-height: 100vh;

    @include mobile {
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }
  }
 }
 .descCommuleft {
  margin-top: -20px;
  flex: 1;
}

.descCommuright {
  flex: 1.5;
}