@use "../../style.scss" as *;

.buyitem {
  display: flex;
  gap: 24px;

  @include themify($themes) {
    padding: 20px 20px;
    background-color: themed("bgSoft");
    min-height: 100vh;

    @include mobile {
      padding: 10px;
    }

    @include tablet {
      padding: 20px;
    }
  }
}

.Lbuyitem {
  flex: 2.5;
}

.Rbuyitem {
  flex: 1;

  .Rbuy {
    @include themify($themes) {
      flex: 2;
      position: sticky;
      top: 70px;
      height: calc(100vh - 70px);
      overflow: scroll;
      background-color: themed("bg");
      color: themed("textSoft");
      border-radius: 10px;

      @include mobile {
        display: none;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      .container {
        padding: 20px;


        hr {
          margin: 20px 0px;
          border: none;
          height: 0.5px;
          background-color: themed("border");
        }

        .menu {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .header {
            display: flex;
            justify-content: space-between; // 🔥 ซ้าย-ขวา
            align-items: center;
          }

          h2,
          h3,
          h4,
          h5 {
            margin: 0px;
          }

          .buttons {
            display: flex;
            align-items: center;

            button {
              border: none;
              flex: 1;
              padding: 20px 0;
              color: white;
              font-size: 15px;
              cursor: pointer;
              background-color: themed("buttonBg");
              border-radius: 10px;
            }
          }

          .row {
            display: flex;
            justify-content: space-between; // แยกซ้าย-ขวา
            align-items: center;
          }
        }

        .text {
          display: flex;
          flex-direction: column;
          margin: 20px 0px;

          h3 {
            margin: 0;
          }

          .info {
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;
          }

          .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }
  }
}