@use "../../style.scss" as *;

.descItem{
  display: flex;
  @include themify($themes) {
    padding: 20px 20px;
    background-color: themed("bgSoft");
    min-height: 100vh;

    @include mobile {
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }
  }
 }
 .descItemleft {
  flex: 2.5;
}

.descItemright {
  flex: 1;
}