@use "../../../style.scss" as *;

.donutChart{
  @include themify($themes) {
    background-color: #060A0E;
    // min-height: 100vh;
    padding: 20px 30px;

    @include mobile {
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }
  }
  .chart-title {
    color: #fff;
  }
  .chart-container{
    background-color: #090F16; 
    border: 2px solid #161B20; 
    border-radius: 12px;
    box-shadow: none; 
    padding: 24px;
  }
 }