@use "../../../style.scss" as *;

.leftBarDownload {
  @include themify($themes) {
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bg");
    color: themed("textColor");
    width: 250px;
    flex: none;

    .error {
      color: red;
      margin-top: 10px;
      font-size: 14px;
    }

    @include mobile {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    padding: 20px;

    h3 {
      font-size: 16px;
      color: themed("textColorSoft");
      font-weight: 600;
      margin-bottom: 10px;
    }

    hr {
      margin: 0px;
      border: none;
      height: 0.5px;
      background-color: themed("border");
    }

    /* user section */
    .leftBarDownloadItem {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;

      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        font-size: 14px;
        color: themed("textColorSoft");
        font-weight: 600;
      }

      button {
        padding: 7px 20px;
        border-radius: 6px;
        margin-left: auto;
        background-color: themed("buttonBg");
        color: white;
        border: none;
      }
    }

    /* filter section */
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {
        font-size: 14px;
        color: themed("textColorSoft");
        font-weight: 600;
        margin: 0px;
      }

      span {
        font-size: 14px;
        color: themed("textColor");
      }

      div {
        display: flex;
        align-items: center;
        gap: 8px;

        input[type="checkbox"] {
          cursor: pointer;
          accent-color: themed("primary");
        }

        label {
          font-size: 13px;
          cursor: pointer;
        }
      }
    }

  }
}